*{
	padding: 0px;
	margin:  0px;
}
.header{
	height: 90px;
	width: 100%;
	position:fixed;/*滚动不移动*/
	left: 0px;
	top: 0px;
	background: rgba(0,0,0,0.8);

	
}
.header-div1{
	height: 90px;
	width: 1180px;
	margin: auto;
	
}
.header-div-a{
	height: 90px;
	width: 145px;
	display: inline-block;
	float: left;

}
.header-div1-nav{
	margin:0px 48px ;
	height: 90px;
	float: left;
}
.header-div1-nav ul{
	list-style: none;/*去点*/
}
.header-div1-nav ul li{
	height: 90px;
	width:  90px;
	line-height: 90px;
	text-align: center;
	float: left;
}
.header-div1-nav ul li a{
	text-decoration: none;/*去掉横线*/
	color: white;
}

.header-div1-nav ul li a:hover{/* 放在文字上变红*/
	color: red;
}
.header-div1-div1{
	height: 90px;
	float: left;
	line-height: 90px;
	
}

.header-div1-div1-a1{
	display: inline-block;/* 让a标签变成块级元素，可以设置宽高 */
	height: 38px;
	width: 90px;
	border: 1px solid yellow;
	border-radius: 50px;/*a标签弧度*/
	text-align: center;/*a标签文本居中*/
	line-height: 38px;/*a标签上居中*/
	color: yellow;/*a标签字体颜色*/
    text-decoration: none;/*去下划线*/
}
.header-div1-div1-a2{
	display: inline-block;/* 让a标签变成块级元素，可以设置宽高 */
	height: 38px;
	width: 120px;
	border: 1px solid yellow;
	border-radius: 50px;/*a标签弧度*/
	text-align: center;/*a标签文本居中*/
	line-height: 38px;/*a标签上居中*/
	color: yellow;/*a标签字体颜色*/
    text-decoration: none;/*去下划线*/
   margin-left: 20px;
}
.header-div1-div1 a:hover{
	background: darkseagreen;
}
section img {
	vertical-align:bottom;
}
footer {
	background:#302f37;
	text-align:center;
	height:320px;
}
footer nav ul {
	margin:60px 0;
}
footer nav ul, footer nav ul li {
	display:inline-block;
}
footer nav ul li {
	width:100px;
	height:100px;
	margin:0 5px;
	font-size:14px;
}
footer nav ul li span {
	display:block;
	color:#7e7e7e;
}
footer li span:first-of-type {
	width:100px;
	height:85px;
	background:url(../img/sprites_footer.png) no-repeat;
}
footer li:nth-child(1) span:first-of-type {
	background-position:0 0;
}
footer li:nth-child(1) span:first-of-type:hover {
	background-position:-100px 0;
}
footer li:nth-child(2) span:first-of-type {
	background-position:0 -100px;
}
footer li:nth-child(2) span:first-of-type:hover{
	background-position:-100px -100px;
}
footer li:nth-child(3) span:first-of-type {
	background-position:0 -200px;
}
footer li:nth-child(3) span:first-of-type:hover {
	background-position:-100px -200px;
}
footer li:nth-child(4) span:first-of-type {
	background-position:0 -300px;
}
footer li:nth-child(4) span:first-of-type:hover {
	background-position:-100px -300px;
}
footer li:nth-child(5) span:first-of-type {
	background-position:0 -400px;
}
footer li:nth-child(5) span:first-of-type:hover {
	background-position:-100px -400px;
}
footer li:nth-child(6) span:first-of-type {
	background-position:0 -500px;
}
footer li:nth-child(6) span:first-of-type:hover {
	background-position:-100px -500px;
}
footer li:nth-child(7) span:first-of-type {
	background-position:0 -600px;
}
footer li:nth-child(7) span:first-of-type:hover {
	background-position:-100px -600px;
}
footer p {
	font-size:12px;
	line-height:1.8;
	color:#9d9d9d;
}
