*{
	padding: 0px;
	margin: 0px;
}

.header{
	height: 90px;
	width: 100%;
	position: fixed; /*定位不让滚动后移动*/
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.6);
	
	
	
}

.header-div1{
	height: 90px;
	width: 1180px;
	margin: auto;  /*让整个div居中*/
	
}
.header-div1-a{
	height: 90px;
	width: 145px;
	display: inline-block;  /*变成块级元素*/
	float: left; /*浮动去左对齐*/
}

.header-div1-nav{
	margin: 0px 48px;  /*两边距离*/
	height: 90px;
	float: left;
	
}
.header-div1-nav  ul{
	list-style: none;  /*去掉黑点*/
}

.header-div1-nav  ul li{
	height: 90px;
    width: 90px;
    line-height: 90px; /*行高，实现垂直居中*/
    text-align: center; /*水平居中*/
    float: left;  /*横排*/
}

/*级别 nav-->ul-->li-->a */
.header-div1-nav  ul li a{
	text-decoration: none;  /*去掉横线*/
	color: white;  /*字体颜色*/
	
}

.header-div1-nav  ul li a:hover{   /*鼠标放入变红*/
	color: red;
}


.header-div1-div1{
	height: 90px;
	float: left;
	line-height: 90px; 
	
}
.header-div1-div1-a1{
	display:inline-block; /* 让a标签变成块级元素，可以设置宽高 */
	height: 38px;
	width: 90px;
	border:1px solid yellow ; /* 让a标签边框 */
	border-radius:50px ; /* 让a标签弧度 */
	text-align: center; /* 让a标签文本水平 */
	line-height: 38px; /* 让a标签文本垂直居中 */
	color: yellow;  /* 让a标签字体颜色 */
	text-decoration: none;/* 让a标签去掉下面横线 */
	
}

.header-div1-div1-a2{
	
	display:inline-block; /* 让a标签变成块级元素，可以设置宽高 */
	height: 38px;
	width: 150px;
	border:1px solid yellow ; /* 让a标签边框 */
	border-radius:50px ; /* 让a标签弧度 */
	text-align: center; /* 让a标签文本水平 */
	line-height: 38px; /* 让a标签文本垂直居中 */
	color: yellow;  /* 让a标签字体颜色 */
	text-decoration: none;/* 让a标签去掉下面横线 */
	margin-left:10px ;
	
}

.header-div1-div1 a:hover{
	background: greenyellow;  
	
}
